.infoBg {
  background: linear-gradient(212deg, #fec246, rgb(98, 211, 228), #057ee6);
  background-size: 600% 600%;
  animation: change 15s ease infinite;
}

@keyframes change {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}

.stepCardEnterRight {
  animation: slideRight .3s ease-out;
}

.stepCardEnterLeft {
  animation: slideLeft .3s ease-out;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}