/* pulsing circles on home banner */
.pulseCircle {
  animation: pulse 4s infinite ease-in-out;
}

.pulseCircle1 {
  animation-delay: 0s; 
}
.pulseCircle2 {
  animation-delay: .3s; 
}

.pulseCircle3 {
  animation-delay: .6s; 
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}