/* pulsing circles on home banner */
.pulse-circle {
  animation: pulse 4s infinite ease-in-out;
}

.pulse-circle-1 {
  animation-delay: 0s; /* No delay */
}
.pulse-circle-2 {
  animation-delay: .3s; /* 1-second delay */
}

.pulse-circle-2 {
  animation-delay: .6s; /* 1-second delay */
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}