@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;

}

/* rainbow band */
.rainbow {
  width: 100%;
  height: 30px;
  background-image: url("../../public/images/kmlbg.jpg");
  background-size: cover;
  background-position: center;
}

.rainbow-circle {
  background-image: url("../../public/images/kmlbg.jpg");
  background-size: cover;
}




/* //button classes make sure the element also has relative, overflow-hidden and z-10 */
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: white;
  background-color: #e15c3a;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: height 0.8s ease;
}

.btn:hover::before {
  height: 190%;
}





/* loading dots for homepage loader */
.dot {
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  animation: bounce .8s infinite, colorChange 2s infinite; 
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0); 
  }
  40% {
    transform: translateY(-20px); 
  }
}

@keyframes colorChange {
  0% {
    background-color: #057ee6;
  }
  25% {
    background-color: rgb(98, 211, 228);
  }
  50% {
    background-color: #fec246;
  }
  75% {
    background-color: rgb(198, 55, 92);
  }
  100% {
    background-color: #057ee6;
  }
}
