@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}


.rainbow {
  width: 100%;
  height: 30px;
  background-image: url("../../public/images/kmlbg.jpg");
  background-size: cover;
  background-position: center;
}

.info-card {
  animation: shadow-move 10s ease infinite;
}

/* //changes shadow color */
@keyframes shadow-move {
  0% {
    box-shadow: 0 4px 20px rgba(17, 17, 103, 0.5),
      0 8px 40px rgba(17, 17, 103, 0.3);
  }
  20% {
    box-shadow: 0 4px 20px rgba(98, 211, 228, 0.5),
      0 8px 40px rgba(98, 211, 228, 0.3);
  }
  40% {
    box-shadow: 0 4px 20px rgba(198, 55, 92, 0.5),
      0 8px 40px rgba(198, 55, 92, 0.3);
  }
  605% {
    box-shadow: 0 4px 20px rgba(254, 194, 70, 0.5),
      0 8px 40px rgba(254, 194, 70, 0.3);
  }
  80% {
    box-shadow: 0 4px 20px rgba(225, 92, 58, 0.5),
      0 8px 40px rgba(225, 92, 58, 0.3);
  }
  100% {
    box-shadow: 0 4px 20px rgba(17, 17, 103, 0.5),
      0 8px 40px rgba(17, 17, 103, 0.3);
  }
}

/* //make sure the element also has relative, overflow-hidden and z-10 */
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: white;
  background-color: #e15c3a;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: height 0.8s ease;
}

.btn:hover::before {
  height: 190%;
}

.trailsText {
  color:  rgb(17 24 39);
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  overflow: hidden;
}


.slash {
  display: inline-block; 
  transition: transform 0.3s ease; 
}


.relative {
  position: relative; 
}

.underline {
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 0; 
  height: 2px; 
  background: rgb(118, 31, 52); 
  transition: width 0.3s ease; 
 
}

li:hover {
  cursor: pointer;
}

li:hover .underline {
  width: 100%; 
  
}

.slash {
  transition: transform 0.3s ease; 
  font-weight:bolder
}

li:hover .slash {
  transform: translateX(5px); 
  color: rgb(98, 211, 228);
}